@import "tailwindcss";

@theme {
  --color-cream: #FCF5EE;
  --color-salmon: #EE6983;
  --color-light-pink: #FFC4C4;
  --color-burgundy: #850E35;

  --font-sans: var(--font-inter);
}

:root {
  --background: var(--color-cream);
  --foreground: var(--color-burgundy);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}